server:
  port: 8080
  servlet:
    context-path: /
    encoding:
      charset: utf-8

spring:
  session:
    storage-type: redis
  redis:
    host: localhost
    port: 6379
  datasource:
    url: jdbc:h2:mem:test
    driver-class-name: org.h2.Driver
    username: sa
    password:
    oracleucp:
      max-pool-size: 10

  h2:
    console:
      enabled: true
  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: create
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

    show-sql: true
    properties:
      hibernate:
        format_sql: true

  output:
    ansi:
      enabled: always